<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mustache Activity</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

  </head>
  <body>

    <div class="container">

          <ul class="robot-info">
            <div class="top-row">
              <img src="{{avatar}}" alt="">
              <div class="right-of-pic">

              <h1>{{name}}</h1>
              {{#address.city}}
                <p>{{address.city}},
              {{/address.city}}
              {{#address.country}}
                {{address.country}}
              {{/address.country}}
               |
              {{#job}}
                {{job}}, {{company}}
              {{/job}}
              {{^job}}
                Available for hire</p>
              {{/job}}
              <p>{{email}} | {{phone}}</p>
              </div>
            </div>
            <table class="bottom-row">
              <tr class="">
                {{#university}}
                  <td>Education </td>
                  <td>{{university}}</td>
                {{/university}}
              </tr>
              <tr class="">
                <td>Skills </td>
                {{#skills}}
                  <td><li>{{.}}</li></td>
                {{/skills}}
              </tr>
            </table>

          </ul>

    </div>

  </body>
</html>
